.form-2-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulir-2-3 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.button-simpan-2-3 {
  color: white;
  background-color: #7126b5;
  border-radius: 16px;
  width: 568px;
  height: 48px;
  border-color: #7126b5;
}

.input-text-2-3 {
  border-radius: 16px;
}

.label-info-2-3 {
  padding: 12px, 16px, 12px, 16px;
  width: 568px;
  height: 70px;
  margin-bottom: 38px;
}

.label-info-2-3 input {
  border-style: solid;
  border-color: #d0d0d0;
  height: 48px;
}

.label-info-2-3 select {
  border-style: solid;
  border-color: #d0d0d0;
  height: 48px;
}

.label-info-alamat-2-3 {
  padding: 12px, 16px, 12px, 16px;
  border-radius: 16px;
  width: 568px;
  margin-bottom: 38px;
}

.cam-2-3 {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 46px;
  width: 96px;
  height: 96px;
  background-color: #e2d4f0;
  border-radius: 12px;
  padding: 35px;
}

.camera-2-3 {
  position: absolute;
  width: 24px;
  height: 24px;
}

.back-arrow-2-3 {
  margin-top: 40px;
  margin-left: 336px;
  position: absolute;
  width: 24px;
  height: 24px;
}
